<section class="admins dashboard">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="forms">
                <div class="log_head">
                    <h3>Add Admin</h3>
                </div>
                {{#if message}}<p class="error">{{message}}</p>{{/if}}
                <form action="/admin/add-admin" method="post" role="form" class="log-form">
                    <div class="form-group">
                        <input type="text" class="form-control" name="fname" id="fname" placeholder="First Name"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="sname" id="sname" placeholder="Surname">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <select name="role" id="role" class="form-control form-select" id="role" required>
                            <option value="admin" selected>Admin</option>
                            <option value="super_admin">Super Admin</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                            required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="cpassword" id="cpassword"
                            placeholder="Confirm Password" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn-primary">Add Admin</button>
                        <a href="/admin/admins" class="btn">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>