<section id="log">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="forms box-shadow">
                    <div class="log_head">
                        <h3>Login to <span>{{app_name}}</span></h3>
                        {{!-- <p>To continue please Login to the {{app_name}}</p> --}}
                    </div>
                    <form action="/login" method="post" role="form" class="log-form">
                        <div class="form-group">
                            {{!-- Email: --}}
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                                required>
                        </div>
                        <div class="form-group">
                            {{!-- Password: --}}
                            <input type="password" class="form-control" name="password" id="password"
                                placeholder="Password" required>
                        </div>
                        <div class="forgot">
                            <a href="/forgot-password">Forgot Password</a>
                        </div>
                        <div class="text-center">
                            <button type="submit">Login</button>
                        </div>
                    </form>
                    <div class="log_footer">
                        Don't have an account? <a href="/signup">Signup Now</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>