<section id="log">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="forms box-shadow">
                    <div class="log_head">
                        <h3>
                            Forgot 
                            <span>Password</span>
                        </h3>
                        {{!-- <p>To continue please Login to the {{app_name}}</p> --}}
                    </div>
                    {{#if message}}<p class="error">{{message}}</p>{{/if}}
                    <form action="/forgot-password" method="post" role="form" class="log-form">
                        <div class="form-group">
                            {{!-- Email: --}}
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email"
                                required>
                        </div>
                        <div class="text-center">
                            <button type="submit">Forgot</button>
                        </div>
                    </form>
                    <div class="log_footer">
                        Already have an account? <a href="/login">Login</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>