$ss-xm: 480px;
$ss-sm: 768px;
$ss-md: 992px;
$ss-lg: 1200px;

$white: #fff;

$color_1: #DFF6FF;
$color_2: #47B5FF;
$color_3: #1363DF;
$color_4: #06283D;
$color_5: #252A34;

$color_error: #FC4F4F;
$color_success: #21BF73;

$color_danger: #e52c2c;

$background_color_1: #fafafa;
$background_color_2: #EFEFEF;
$background_color_3: #DFF6FF;

$font_family_1: 'Open Sans', sans-serif;
$font_family_2: 'Poppins', sans-serif;