<section class="section dashboard">
    <div class="row">

        <div class="col-lg-12">
            <div class="row">

            </div>
        </div><!-- End Left side columns -->

    </div>
</section>