<footer id="footer">
    <div class="container cc">
        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>Basil Reji</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed with 🤍 by <a href="https://www.basilreji.me/">BR</a>
            </div>
        </div>
        <div class="social-links">
            <a href="#" class="link"><i class="ico" data-feather="link"></i></a>
            <a href="#" class="linkedin"><i class="ico" data-feather="linkedin"></i></a>
            <a href="#" class="instagram"><i class="ico" data-feather="instagram"></i></a>
            <a href="#" class="twitter"><i class="ico" data-feather="twitter"></i></a>
        </div>
    </div>
</footer>