<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="/">ExpressProject</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            </ul>
            <a class="btn" href="#about">Login</a>
            <div class="harmburger">
                <div class="lin"></div>
                <div class="lin"></div>
                <div class="lin"></div>
            </div>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->