<section id="hero" class="hero d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">

    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-10 col-lg-7">
        <div id="hero_container" class="d-felx flex-column">
          <h2>
            Express App
          </h2>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6">
        <div id="hero_container" class="d-felx flex-column">

        </div>
      </div>
    </div>

  </div>
</section><!-- End Hero -->