{{!-- <section class="m-5">
    <form id="contact-form" action="/contact" method="post" name="contact-form">
        <div class="row">
            <div class="col-md-6 form-group" data-aos="fade-right">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0" data-aos="fade-left">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>
        </div>
        <div class="form-group mt-3" data-aos="fade-up">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <div class="form-group mt-3" data-aos="fade-up">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
        </div>
        <div class="text-center" data-aos="zoom-in-up">
            <div class="my-3">
                <div id="loading" class="loading" style="display: none;">Loading</div>
                <div id="error-message" class="error-message" style="display: none;">Something went wrong!. Try again.
                </div>
                <div id="sent-message" class="sent-message" style="display: none;">Your message has been sent. Thank
                    you!</div>
            </div>
            <button type="submit">Send Message</button>
        </div>
    </form>
</section> --}}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.snow.css"
    integrity="sha512-XMxqcAfuPHOh2Kz0Z3oDynUcLgyKP6B1NCKUTxyVbM02u1ZrygDcLddKw7KpN/SGmdw8raHbKgaIHP7+bEfGYw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.min.js"
    integrity="sha512-P2W2rr8ikUPfa31PLBo5bcBQrsa+TNj8jiKadtaIrHQGMo6hQM6RdPjQYxlNguwHz8AwSQ28VkBK6kHBLgd/8g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<section id="test">

</section>
<div id="form-container" class="container">
    <form action="/test" method="post">
        <div class="row">
            <div class="col-xs-8">
                <div class="form-group">
                    <label for="display_name">Display name</label>
                    <input class="form-control" name="display_name" type="text" value="Wall-E">
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" name="location" type="text" value="Earth">
                </div>
            </div>
        </div>
        <div class="row form-group">
            <label for="about">About me</label>
            <input name="about" type="hidden">
            <div id="editor-container">
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary" type="submit">Save Profile</button>
        </div>
    </form>
</div>

<script>
    var quill = new Quill('#editor-container', {
        modules: {
            toolbar: [
                ['bold', 'italic'],
                ['link', 'blockquote', 'code-block', 'image'],
                [{ list: 'ordered' }, { list: 'bullet' }]
            ]
        },
        placeholder: 'Compose an epic...',
        theme: 'snow'
    });

    var form = document.querySelector('form');
    form.onsubmit = function () {
        // Populate hidden form on submit
        var about = document.querySelector('input[name=about]');
        about.value = JSON.stringify(quill.getContents());

        //console.log("Submitted", $(form).serialize(), $(form).serializeArray());

        $.ajax({
            url: `/test`,
            data: {
                main: $(form).serialize(),
                sub: $(form).serializeArray(),
            },
            method: "post",
            success: (response) => {
                if (response.status) {
                    console.log("OK")
                } else {
                    console.log("Not Ok")
                }
            },
            error: (jqXHR, exception) => {
                console.log("error")
            },
        });

        // No back end to actually submit to!
        alert('Open the console to see the submit data!')
        return false;
    };

</script>