* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #DFF6FF;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

#sidebar {
  width: 15%;
  height: 100vh;
  position: fixed;
  padding: 0.5rem 0.9rem;
  float: left;
  z-index: 11;
  color: #47B5FF;
  background-color: #06283D;
  box-shadow: 3.4px 0px 10px rgba(0, 0, 0, 0.05), 27px 0px 80px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
#sidebar #shead {
  height: 2rem;
  margin: 1rem 0rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
#sidebar #shead a {
  text-decoration: none;
  color: #DFF6FF;
}
#sidebar #shead a:hover, #sidebar #shead a:active, #sidebar #shead a:focus {
  color: #47B5FF;
}
#sidebar #shead #slogo {
  color: #DFF6FF;
  font-size: 1.5rem;
  transform: translate(0%, -20%);
  transition: all 0.3s ease-in-out;
}
#sidebar #shead h4 {
  margin: 0rem 0.5rem;
  font-size: 1.3rem;
  transform: translate(0%, -25%);
}
#sidebar #scont {
  margin: auto 0;
  width: 100%;
}
#sidebar #scont ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
}
#sidebar #scont ul li a {
  padding: 0rem 0.8rem;
  height: 2.7rem;
  margin: 0.5rem 0rem;
  font-family: "Open Sans", sans-serif;
  color: #47B5FF;
  border-radius: 0.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  border: 2px solid rgba(223, 246, 255, 0);
  transition: 0.3s ease-in-out;
  transition-property: background-color, border, box-shadow;
}
#sidebar #scont ul li a .sico {
  font-size: 1.3rem;
  transition: all 0.3s ease-in-out;
}
#sidebar #scont ul li a h5 {
  font-weight: 500;
  font-size: 1rem;
  margin: 0rem 0.85rem;
  transition: all 0.3s ease-in-out;
}
#sidebar #scont ul li a:hover, #sidebar #scont ul li a:active, #sidebar #scont ul li a:focus {
  color: #DFF6FF;
}
#sidebar #scont ul li a:hover, #sidebar #scont ul li a.active {
  background-color: rgba(71, 181, 255, 0.8);
  border: 2px solid rgba(71, 181, 255, 0.05);
  box-shadow: 0px 4.02px 34.17px 0px rgba(0, 0, 0, 0.05);
}
#sidebar #scont ul li a:hover .sico,
#sidebar #scont ul li a:hover h5, #sidebar #scont ul li a.active .sico,
#sidebar #scont ul li a.active h5 {
  color: #DFF6FF;
}
#sidebar #sfoot {
  height: 2rem;
  margin: 1rem 0rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #47B5FF;
}
#sidebar #sfoot a {
  text-decoration: none;
  color: #47B5FF;
  transition: all 0.3s ease;
}
#sidebar #sfoot a:hover {
  color: #47B5FF;
}
#sidebar #sfoot a:active, #sidebar #sfoot a:focus {
  text-decoration: none;
  color: #47B5FF;
}
#sidebar.close {
  padding: 0.5rem 1rem;
  width: 5rem;
}
#sidebar.close #shead h4 {
  display: none;
}
#sidebar.close #scont ul li a {
  padding: 0rem 0.7rem;
}
#sidebar.close #scont ul li a .sico {
  font-size: 1.5rem;
}
#sidebar.close #scont ul li a h5 {
  display: none;
}
#sidebar.close #sfoot {
  color: transparent;
}
#sidebar.close #sfoot a {
  display: none;
}

@media only screen and (max-width: 1080px) {
  #sidebar {
    width: 15rem;
  }
  #sidebar #scont {
    margin: 1rem 0rem;
    margin-bottom: auto;
  }
  #sidebar.close {
    transform: translateX(-102%);
  }
  #sidebar.close #scont ul li a h5 {
    display: block;
  }
}
#header {
  padding: 0rem 1.5rem;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 5rem);
  height: 4rem;
  background-color: #fafafa;
  box-shadow: 0px 1.9px 2.2px rgba(0, 0, 0, 0.001), 0px 4.6px 5.3px rgba(0, 0, 0, 0.002), 0px 8.6px 10px rgba(0, 0, 0, 0.005), 0px 15.4px 17.9px rgba(0, 0, 0, 0.011), 0px 28.8px 33.4px rgba(0, 0, 0, 0.02), 0px 69px 80px rgba(0, 0, 0, 0.04);
  display: flex;
  align-items: center;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}
#header #harmburger,
#header .harmburger {
  width: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}
#header #harmburger div,
#header .harmburger div {
  margin: 0.2rem 0rem;
  width: 2rem;
  height: 0.2rem;
  border-radius: 1rem;
  background-color: #06283D;
  transition: all 0.3s ease-in-out;
}
#header #harmburger.active div,
#header .harmburger.active div {
  width: 2rem;
}
#header #harmburger.active div:nth-child(1),
#header .harmburger.active div:nth-child(1) {
  width: 1.8rem;
}
#header #harmburger.active div:nth-child(2),
#header .harmburger.active div:nth-child(2) {
  width: 1rem;
}
#header #harmburger.active div:nth-child(3),
#header .harmburger.active div:nth-child(3) {
  width: 1.5rem;
}
#header .header-nav ul {
  list-style: none;
}
#header .header-nav > ul {
  margin: 0;
  padding: 0;
}
#header .header-nav .nav-icon {
  font-size: 1.2rem;
  color: #DFF6FF;
}
#header .header-nav .nav-profile {
  color: rgba(6, 40, 61, 0.5);
}
#header .header-nav .nav-profile img {
  max-height: 1.5rem;
}
#header .header-nav .nav-profile span {
  font-size: 0.9rem;
  font-weight: 600;
}
#header .header-nav .badge-number {
  position: absolute;
  inset: 4px 6px auto auto;
  font-weight: normal;
  font-size: 11px;
  padding: 3px 6px;
}
#header.shrink {
  width: 85%;
}

@media only screen and (max-width: 1080px) {
  #header {
    width: 100%;
    flex-direction: row-reverse;
  }
  #header .harmburger {
    align-items: flex-end;
  }
  #header.shrink {
    width: 100%;
  }
}
footer {
  margin-top: auto;
  width: 100%;
}

:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #f6f9ff;
  color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

#main {
  width: calc(100% - 5rem);
  position: absolute;
  min-height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 0rem 2rem;
  padding-top: 5rem;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}
#main.shrink {
  width: 85%;
}

@media only screen and (max-width: 1080px) {
  #main {
    width: 100%;
    padding: 0rem 1rem;
    padding-top: 5rem;
  }
  #main.shrink {
    width: 100%;
  }
}
section {
  width: 100%;
}

.pagetitle {
  margin: 0rem;
  margin-bottom: 1rem;
}
.pagetitle h2 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: rgba(6, 40, 61, 0.9);
}
.pagetitle .breadcrumb {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: rgba(6, 40, 61, 0.5);
  font-weight: 600;
}
.pagetitle .breadcrumb a {
  color: rgba(6, 40, 61, 0.5);
  transition: 0.3s;
  text-decoration: none;
}
.pagetitle .breadcrumb a:hover {
  color: rgba(6, 40, 61, 0.75);
}
.pagetitle .breadcrumb .breadcrumb-item::before {
  color: rgba(6, 40, 61, 0.5);
}
.pagetitle .breadcrumb .active {
  color: rgba(6, 40, 61, 0.85);
  font-weight: 600;
}

form .form-control {
  width: 100%;
  box-shadow: none;
  border-radius: 0.1rem;
  margin: 0.25rem;
  height: 2.5rem;
}
form .form-control:active, form .form-control:focus {
  border: 1px solid #47B5FF;
  box-shadow: none;
}
form .btn {
  border: 2px solid #06283D;
  background-color: transparent;
  padding: 0.25rem 1rem;
  margin: 0;
  color: #06283D;
  transition: all 0.3s ease-in-out;
}
form .btn:hover {
  color: #fff;
  background-color: #06283D;
}
form .btn-primary {
  border: 2px solid #47b5ff;
  background-color: transparent;
  padding: 0.25rem 1rem;
  margin: 0;
  background-color: #47b5ff;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
form .btn-primary:hover {
  border-color: #1363DF;
  color: #fff;
  background-color: #1363DF;
}

.btn {
  background-color: transparent;
  color: #06283D;
  border: 2px solid #06283D;
  border-radius: 0.1rem;
  transition: all 0.3s ease-in-out;
}
.btn:active, .btn:hover, .btn:focus {
  border: 2px solid #06283D;
  color: #fff;
  background-color: #06283D;
}

.dropdown-menu {
  border-radius: 0.1rem;
  padding: 0.8rem 0;
  animation-name: dropdown-animate;
  animation-duration: 0.2s;
  animation-fill-mode: both;
  border: 0;
  box-shadow: 0 0.2rem 1.8rem 0 rgba(6, 40, 61, 0.1);
}
.dropdown-menu .dropdown-footer a {
  color: #252A34;
  text-decoration: underline;
}
.dropdown-menu .dropdown-footer a:hover {
  text-decoration: none;
}
.dropdown-menu .dropdown-divider {
  color: rgba(71, 181, 255, 0.2);
  margin: 0;
}
.dropdown-menu .dropdown-item {
  font-size: 14px;
  padding: 0.5rem 1rem;
  transition: 0.3s;
}
.dropdown-menu .dropdown-item i {
  margin-right: 0.8rem;
  font-size: 18px;
  line-height: 0;
}
.dropdown-menu .dropdown-item:hover {
  background-color: #DFF6FF;
}

.dropdown-menu .dropdown-header,
.dropdown-menu .dropdown-footer {
  text-align: center;
  font-size: 1rem;
  padding: 0.25rem 1.5rem;
}
.dropdown-menu .dropdown-header h6,
.dropdown-menu .dropdown-footer h6 {
  margin: 0rem;
  font-family: "Open Sans", sans-serif;
  color: rgba(71, 181, 255, 0.85);
}
.dropdown-menu .dropdown-header p,
.dropdown-menu .dropdown-footer p {
  margin: 0;
  font-size: 0.85rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: rgba(6, 40, 61, 0.25);
}

@media (min-width: 768px) {
  .dropdown-menu-arrow::before {
    content: "";
    width: 13px;
    height: 13px;
    background: #fff;
    position: absolute;
    top: -7px;
    right: 20px;
    transform: rotate(45deg);
    border-top: 1px solid #fafafa;
    border-left: 1px solid #fafafa;
  }
}
@keyframes dropdown-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
.card {
  border: none;
  border-radius: 0.1rem;
  box-shadow: 0px 0 30px rgba(6, 40, 61, 0.1);
}
.card .card-header,
.card .card-footer {
  border-color: #DFF6FF;
  background-color: #fff;
  color: rgba(71, 181, 255, 0.5);
  padding: 1rem;
}
.card .card-title {
  padding: 1.2rem 0 1rem 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(6, 40, 61, 0.85);
  font-family: "Poppins", sans-serif;
}
.card .card-title span {
  color: rgba(6, 40, 61, 0.5);
  font-size: 1rem;
  font-weight: 400;
}
.card .card-body {
  padding: 0 1.2rem 1.2rem 1.2rem;
}
.card .card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

.nav-tabs-bordered {
  border-bottom: 2px solid #ebeef4;
}
.nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: rgba(6, 40, 61, 0.5);
}
.nav-tabs-bordered .nav-link.active {
  background-color: #fff;
  color: #47B5FF;
  border-bottom: 2px solid #47B5FF;
}

.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
  color: #47B5FF;
}

.btn-ico {
  padding: 0.1rem 0.25rem;
  font-size: 1rem;
  background-color: transparent;
  border: none;
}
.btn-ico.red {
  color: #e52c2c;
}
.btn-ico.blue {
  color: #1363DF;
}

.forms {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0px 0 30px rgba(6, 40, 61, 0.1);
}
.forms .error {
  text-align: center;
  color: #FC4F4F;
}
.forms .log_head {
  text-align: center;
  margin-bottom: 1rem;
}
.forms .log_head h3 {
  color: #06283D;
}
.forms .log_head h3 span {
  color: #47B5FF;
  font-weight: 700;
}
.forms .log_head p {
  color: rgba(6, 40, 61, 0.5);
}
.forms form {
  margin: 0.5rem 0rem;
}
.forms form .form-group {
  margin: 1rem 0rem;
  margin-top: 1.5rem;
  color: rgba(6, 40, 61, 0.9);
}
.forms form .form-group .form-control {
  margin: 0;
  padding: 0.5rem 1rem;
  height: 2.5rem;
  border-radius: 0.1rem;
  border: 1px solid rgba(6, 40, 61, 0.1);
  color: #06283D;
  font-family: "Poppins", sans-serif;
}
.forms form .form-group .form-control:active, .forms form .form-group .form-control:focus {
  box-shadow: none;
  border: 1px solid #47B5FF;
}
.forms form .form-group .form-control::placeholder {
  color: rgba(6, 40, 61, 0.4);
}
.forms form .form-group:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}
.forms form .btn {
  width: 100%;
  border: 2px solid #06283D;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  margin: 0;
  margin-top: 1rem;
  color: #06283D;
  transition: all 0.3s ease-in-out;
}
.forms form .btn:hover {
  color: #fff;
  background-color: #06283D;
}
.forms form .btn-primary {
  width: 100%;
  border: 2px solid #47b5ff;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  margin: 0;
  margin-top: 1rem;
  background-color: #47b5ff;
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.forms form .btn-primary:hover {
  border-color: #1363DF;
  color: #fff;
  background-color: #1363DF;
}
.forms .log_footer {
  text-align: center;
  font-size: 0.8rem;
}
.forms .log_footer a {
  font-weight: 600;
}
.forms.inner_form {
  padding: 0rem;
  margin: 0rem;
  box-shadow: none;
}
.forms.inner_form form {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

.dashboard .filter {
  position: absolute;
  right: 0px;
  top: 15px;
}

.dashboard .filter .icon {
  color: #aab7cf;
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
}

.dashboard .filter .icon:hover,
.dashboard .filter .icon:focus {
  color: #4154f1;
}

.dashboard .filter .dropdown-header {
  padding: 8px 15px;
}

.dashboard .filter .dropdown-header h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #aab7cf;
  margin-bottom: 0;
  padding: 0;
}

.dashboard .filter .dropdown-item {
  padding: 8px 15px;
}

/* Info Cards */
.dashboard .info-card {
  padding-bottom: 10px;
}

.dashboard .info-card h6 {
  font-size: 28px;
  color: #012970;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.dashboard .card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  flex-grow: 0;
}

.dashboard .sales-card .card-icon {
  color: #4154f1;
  background: #f6f6fe;
}

.dashboard .revenue-card .card-icon {
  color: #2eca6a;
  background: #e0f8e9;
}

.dashboard .customers-card .card-icon {
  color: #ff771d;
  background: #ffecdf;
}

/* Activity */
.dashboard .activity {
  font-size: 14px;
}

.dashboard .activity .activity-item .activite-label {
  color: #888;
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 64px;
}

.dashboard .activity .activity-item .activite-label::before {
  content: "";
  position: absolute;
  right: -11px;
  width: 4px;
  top: 0;
  bottom: 0;
  background-color: #eceefe;
}

.dashboard .activity .activity-item .activity-badge {
  margin-top: 3px;
  z-index: 1;
  font-size: 11px;
  line-height: 0;
  border-radius: 50%;
  flex-shrink: 0;
  border: 3px solid #fff;
  flex-grow: 0;
}

.dashboard .activity .activity-item .activity-content {
  padding-left: 10px;
  padding-bottom: 20px;
}

.dashboard .activity .activity-item:first-child .activite-label::before {
  top: 5px;
}

.dashboard .activity .activity-item:last-child .activity-content {
  padding-bottom: 0;
}

/* News & Updates */
.dashboard .news .post-item + .post-item {
  margin-top: 15px;
}

.dashboard .news img {
  width: 80px;
  float: left;
  border-radius: 5px;
}

.dashboard .news h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
  margin-bottom: 5px;
}

.dashboard .news h4 a {
  color: #012970;
  transition: 0.3s;
}

.dashboard .news h4 a:hover {
  color: #4154f1;
}

.dashboard .news p {
  font-size: 14px;
  color: #777777;
  margin-left: 95px;
}

/* Recent Sales */
.dashboard .recent-sales {
  font-size: 14px;
}

.dashboard .recent-sales .table thead {
  background: #f6f6fe;
}

.dashboard .recent-sales .table thead th {
  border: 0;
}

.dashboard .recent-sales .dataTable-top {
  padding: 0 0 10px 0;
}

.dashboard .recent-sales .dataTable-bottom {
  padding: 10px 0 0 0;
}

/* Top Selling */
.dashboard .top-selling {
  font-size: 14px;
}

.dashboard .top-selling .table thead {
  background: #f6f6fe;
}

.dashboard .top-selling .table thead th {
  border: 0;
}

.dashboard .top-selling .table tbody td {
  vertical-align: middle;
}

.dashboard .top-selling img {
  border-radius: 5px;
  max-width: 60px;
}

/*--------------------------------------------------------------
  # Icons list page
  --------------------------------------------------------------*/
.iconslist {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1.25rem;
  padding-top: 15px;
}

.iconslist .icon {
  background-color: #fff;
  border-radius: 0.25rem;
  text-align: center;
  color: #012970;
  padding: 15px 0;
}

.iconslist i {
  margin: 0.25rem;
  font-size: 2.5rem;
}

.iconslist .label {
  font-family: var(--bs-font-monospace);
  display: inline-block;
  width: 100%;
  overflow: hidden;
  padding: 0.25rem;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
}

/*--------------------------------------------------------------
  # Profie Page
  --------------------------------------------------------------*/
.profile .profile-card img {
  max-width: 120px;
}

.profile .profile-card h2 {
  font-size: 24px;
  font-weight: 700;
  color: #2c384e;
  margin: 10px 0 0 0;
}

.profile .profile-card h3 {
  font-size: 18px;
}

.profile .profile-card .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.profile .profile-card .social-links a:hover {
  color: #012970;
}

.profile .profile-overview .row {
  margin-bottom: 20px;
  font-size: 15px;
}

.profile .profile-overview .card-title {
  color: #012970;
}

.profile .profile-overview .label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}

.profile .profile-edit img {
  max-width: 120px;
}

/*--------------------------------------------------------------
  # Error 404
  --------------------------------------------------------------*/
.error-404 {
  padding: 30px;
}

.error-404 h1 {
  font-size: 180px;
  font-weight: 700;
  color: #4154f1;
  margin-bottom: 0;
  line-height: 150px;
}

.error-404 h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
  margin-bottom: 30px;
}

.error-404 .btn {
  background: #51678f;
  color: #fff;
  padding: 8px 30px;
}

.error-404 .btn:hover {
  background: #3e4f6f;
}

@media (min-width: 992px) {
  .error-404 img {
    max-width: 50%;
  }
}
