* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  width: 100%;
}

::-webkit-scrollbar-track {
  background-color: #DFF6FF;
}

::-webkit-scrollbar {
  border-radius: 1rem;
  width: 0.2rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #06283D;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
}

a {
  color: #47B5FF;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #06283D;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}

.btn {
  font-size: 1rem;
  color: #DFF6FF;
  background-color: #47B5FF;
  border: none;
  padding: 0.4rem 1.5rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}
.btn:hover {
  color: #DFF6FF;
  background-color: #1363DF;
}

main {
  width: 100%;
}

.box-shadow {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
}

section {
  width: 100%;
  min-height: 10vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#header {
  transition: all 0.5s ease-in-out;
  background: transparent;
  z-index: 997;
  padding: 0.5rem 0;
}
#header.header-scrolled {
  background-color: #fff;
  box-shadow: 0px 2px 1rem rgba(18, 66, 101, 0.08);
}
#header .logo {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}
#header .logo a {
  color: #47B5FF;
}
#header .logo img {
  max-height: 2rem;
}
@media (max-width: 992px) {
  #header {
    padding: 1rem 0rem;
  }
}

.navbar {
  padding: 0;
}
.navbar .btn {
  margin: 0 1rem;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar ul li {
  position: relative;
}
.navbar ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  font-size: 1rem;
  color: #06283D;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar ul li a i {
  font-size: 1rem;
  line-height: 0;
  margin-left: 5px;
}
.navbar ul li a:hover {
  color: #47B5FF;
}
.navbar ul li a:hover > a {
  color: #47B5FF;
}
.navbar ul li a.active {
  color: #47B5FF;
}
.navbar ul li a.active:focus {
  color: #47B5FF;
}

.harmburger {
  cursor: pointer;
  display: none;
  margin: 0rem 0.5rem;
}
.harmburger .lin {
  background-color: #252A34;
  height: 0.15rem;
  border-radius: 1rem;
  width: 1.7rem;
  margin: 0.4rem 0rem;
  transition: all 0.5s ease-in-out;
}
.harmburger.active {
  margin: 0rem;
}
.harmburger.active .lin {
  background-color: #DFF6FF;
}
.harmburger.active .lin:nth-child(1) {
  transform: translate(0, 350%) rotate(45deg);
}
.harmburger.active .lin:nth-child(2) {
  opacity: 0;
}
.harmburger.active .lin:nth-child(3) {
  transform: translate(0, -350%) rotate(-45deg);
}

@media (max-width: 992px) {
  .harmburger {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(6, 40, 61, 0.8);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .btn {
  display: none;
}
.navbar-mobile .harmburger {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 2.5rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  padding: 1rem;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile ul li a {
  margin: 0;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
}
.navbar-mobile ul li a.active {
  color: #DFF6FF;
  background-color: #47B5FF;
}

footer {
  width: 100%;
  margin-top: auto;
  background-color: #06283D;
  color: #fff;
}
footer .cc {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem;
  font-size: 0.8rem;
}
footer .cc a {
  font-weight: 700;
}
footer .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .social-links a {
  background-color: rgba(71, 181, 255, 0.2);
  margin: 0rem 0.2rem;
  padding: 0.15rem 0.3rem;
  border-radius: 5rem;
  transition: all 0.3s ease;
  color: #DFF6FF;
}
footer .social-links a .ico {
  width: 1rem;
  height: 1rem;
}
footer .social-links a:hover {
  background-color: #47b5ff;
  color: #06283D;
}

#log {
  height: 100vh;
}
#log .forms {
  background-color: #fff;
  padding: 2rem;
}
#log .forms .error {
  text-align: center;
  color: #FC4F4F;
}
#log .forms .log_head {
  text-align: center;
  margin-bottom: 2.5rem;
}
#log .forms .log_head h3 {
  color: #06283D;
}
#log .forms .log_head h3 span {
  color: #47B5FF;
  font-weight: 700;
}
#log .forms .log_head p {
  color: rgba(6, 40, 61, 0.5);
}
#log .forms form {
  margin: 0.5rem 0rem;
}
#log .forms form .form-group {
  margin: 1rem 0rem;
  margin-top: 1.5rem;
  color: rgba(6, 40, 61, 0.9);
}
#log .forms form .form-group input {
  height: 2.7rem;
  border-radius: 0.1rem;
  border: 1px solid rgba(6, 40, 61, 0.1);
  color: #06283D;
  font-family: "Poppins", sans-serif;
}
#log .forms form .form-group input:active, #log .forms form .form-group input:focus {
  box-shadow: none;
  border: 1px solid #47B5FF;
}
#log .forms form .form-group input::placeholder {
  color: rgba(6, 40, 61, 0.4);
}
#log .forms form .forgot {
  text-align: right;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  text-decoration: underline;
  color: rgba(6, 40, 61, 0.8);
}
#log .forms form .forgot a {
  color: rgba(6, 40, 61, 0.5);
}
#log .forms form button {
  width: 100%;
  background-color: #47B5FF;
  border: none;
  padding: 0.6rem 1.5rem;
  margin: 1rem 0rem;
  color: #DFF6FF;
  transition: all 0.3s ease-in-out;
}
#log .forms form button:hover {
  background-color: #06283D;
}
#log .forms .log_footer {
  text-align: center;
  font-size: 0.8rem;
}
#log .forms .log_footer a {
  font-weight: 600;
}