* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './theme';

html {
    font-size: 16px;
    width: 100%;
}

::-webkit-scrollbar-track {
    background-color: $color_1;
}

::-webkit-scrollbar {
    border-radius: 1rem;
    width: 0.2rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: $color_4;
}

body {
    font-family: $font_family_2;
    background-color: $background_color_2;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-height: 100vh;
}

a {
    color: $color_2;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $color_4;
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font_family_1;
}

.btn {
    font-size: 1rem;
    color: $color_1;
    background-color: $color_2;
    border: none;
    // padding: 0.4rem 1.5rem;
    border-radius: 0.25rem;
    transition: all 0.3s ease;

    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        color: $color_1;
        background-color: $color_2;
    }

    &:hover {
        color: $color_1;
        background-color: $color_3;
    }

}

main {
    width: 100%;
}

.box-shadow {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
}

section {
    width: 100%;
    min-height: 10vh;
    padding: 2rem;
    // background-color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@import './haf/header';
@import './haf/footer';
@import './pages/auth';