<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
            <p>
                Reach out to us for any queries. We are happy to help you.
            </p>
        </div>

        <div class="row justify-content-center align-items-center gx-4">

            {{!-- <div class="col-lg-4">

                <div class="info-container d-flex flex-column align-items-center justify-content-center">
                    <div class="info-item d-flex">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h4>Location:</h4>
                            <p>Address</p>
                        </div>
                    </div>

                    <div class="info-item d-flex">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h4>Email:</h4>
                            <a href="mailto:example@example.com">
                                example@example.com
                            </a>
                        </div>
                    </div>

                    <div class="info-item d-flex">
                        <i class="bi bi-phone flex-shrink-0"></i>
                        <div>
                            <h4>Call:</h4>
                            <a href="tel:+00000">
                                +00 0000 0000
                            </a><br>
                        </div>
                    </div>
                </div>

            </div> --}}

            <div class="col-lg-8">
                <form id="contact-form" action="/contact" method="post" role="form" class="php-email-form"
                    name="contact-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                required>
                        </div>
                        <div class="col-md-6 form-group mt-3 mt-md-0">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                            required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea class="form-control" name="message" rows="7" placeholder="Message"
                            required></textarea>
                    </div>
                    <div class="my-3">
                        <div id="loading" class="loading" style="display: none;">Loading</div>
                        <div id="error-message" class="error-message" style="display: none;">Something went wrong!. Try
                            again.
                        </div>
                        <div id="sent-message" class="sent-message" style="display: none;">Your message has been sent.
                            Thank
                            you for contacting us!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>
        </div>

    </div>
</section>