<header id="header" class="shrink">
    <div id="harmburger" class="harmburger active">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <nav>
        <div class="user">
            admin
        </div>
    </nav>
</header>