<aside id="sidebar" class="close">
    <div id="shead">
        <div id="slogo">
            <a href="/"><i class="ri-sound-module-line"></i></a>
        </div>
        <h4>Admin</h4>
    </div>
    <div id="scont">
        <ul>
            <li>
                <a href="/admin/" {{#if dashboard_page}}class="active"{{/if}}>
                    <i class="ri-dashboard-{{#if dashboard_page}}fill{{else}}line{{/if}} sico"></i>
                    <h5>Dashboard</h5>
                </a>
            </li>
            {{#if user.permissions.access.messages}}
            <li>
                <a href="/admin/messages/" {{#if messages_page}}class="active"{{/if}}>
                    <i class="ri-message-3-{{#if message_page}}fill{{else}}line{{/if}} sico"></i>
                    <h5>Messages</h5>
                </a>
            </li>
            {{/if}}
            {{#if user.permissions.access.admins}}
            <li>
                <a href="/admin/admins/" {{#if admins_page}}class="active"{{/if}}>
                    <i class="ri-shield-user-{{#if admins_page}}fill{{else}}line{{/if}} sico"></i>
                    <h5>Admins</h5>
                </a>
            </li>
            {{/if}}
            <li>
                <a href="/admin/account/" {{#if account_page}}class="active"{{/if}}>
                    <i class="ri-user-3-{{#if admin_page}}fill{{else}}line{{/if}} sico"></i>
                    <h5>My Account</h5>
                </a>
            </li>
        </ul>
    </div>
    <div id="sfoot">
        Made by &nbsp<a href="http://github.com/basil-reji" target="_blank" rel="noopener noreferrer"><strong>BR</strong></a>
    </div>
</aside>